# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
.venv/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm files
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Logs
*.log
